.root {
    -fx-font-family: "Arial";
    -fx-background-color: #F0F0F0;
}

.title {
    -fx-font-size: 12px;
    -fx-font-weight: bold;
}

.pathDirection {
    -fx-font-size: 11px;
    -fx-font-weight: bold;
}

.path {
    -fx-font-size: 11px;
}

.button {
    -fx-padding: 5 22 5 22;
    -fx-background-radius: 4;
    -fx-font-size: 14px;
}